/*{
    margin: 0;
    padding: 0;
} */
body {
  background-color: rgb(244, 245, 238);
  color: rgb(17, 17, 16);
  font-family: "Courier New", Courier, monospace;

  font-size: 20px;
  font-weight: normal;
  line-height: 3em;
  margin: 0;
}
.box1 {
  background-color: rgb(146, 146, 153);
  color: rgb(15, 15, 15);
  border: 10px red solid;
  border-bottom: red double 10px;
  padding: 3px;
}
.container {
  width: 50%;
  margin: 20px;
}
.box1 h1 {
  font-family: Verdana;
  font-style: italic;
  text-decoration: underline;
  text-transform: uppercase;
}
.box2 {
  color: rgb(17, 17, 16);
  border: 3px dotted gray;
  margin: 20px 0;
  padding: 20px;
}
.categories {
  border: 1px blue solid;
  padding: 1px;
  border-radius: 15px;
}
.categories h2 {
  text-align: center;
}
.categories ul {
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: blue;
}
a:hover {
  color: red;
}
a:active {
  color: green;
}
a:visited {
  color: black;
}
.categories li{
    padding: 8px;
    border-bottom: 1px black solid;
    #list-style-image: url(../images/check.png);
}